.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.Testtt p {
  color: blue;
  font-weight: bold;
}

.Testtt h1,
.Testtt ul {
  color: rgb(225, 0, 255);
  height: 20%;
  width: 20%;
}

.NewHogwarts span {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  line-height: 2.2rem;
}



.HogButton {
  margin-top: 10px;
  margin-left: 2px;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.HogButton:hover {
  background: #434343;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.HogButton:focus {
  outline: none;
}

.weatheIcon:focus {
  outline: none;
}

.HogButton:disabled {
  background-color: gray;
}

.HogButton:visited {
  color: white;
}

.HogButton-2 {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 5px;
  margin: 10px;
  border: 2px solid #000000 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}


.grif:hover {
  padding: 10px;
  color: #ffffff !important;
  background: #ff0000;
  border-color: #ff0000 !important;
  transition: all 0.4s ease 0s;
}

.sly:hover {
  padding: 10px;
  color: #ffffff !important;
  background: #017a09;
  border-color: #017a09 !important;
  transition: all 0.4s ease 0s;
}

.rav:hover {
  padding: 10px;
  color: #ffffff !important;
  background: #06005e;
  border-color: #06005e !important;
  transition: all 0.4s ease 0s;
}

.Huff:hover {
  padding: 10px;
  color: #ffffff !important;
  background: #d8d400;
  border-color: #d8d400 !important;
  transition: all 0.4s ease 0s;
}

.stuf:hover {
  padding: 10px;
  color: #ffffff !important;
  background: linear-gradient(-90deg, black, whitesmoke);
  background-image: linear-gradient(-90deg, black, whitesmoke);
  transition: all 0.4s ease 0s;
}



form input[name="city"],
form input[name="Country"] {
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid whitesmoke;
  border-radius: 0;
}

.weatheIcon {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.weatheIcon:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  transition: all 0.4s ease 0s;
}

form button:focus {
  background-color: transparent;
  box-shadow: none;
  color: black;
}

.weatherFont {
  color: rgb(48, 48, 48);
  margin-top: 2rem;
}

.formStyle {
  max-width: 500px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.formStyle input[type="text"],
.formStyle input[type="date"],
.formStyle input[type="datetime"],
.formStyle input[type="email"],
.formStyle input[type="number"],
.formStyle input[type="search"],
.formStyle textarea,
.formStyle select {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.formStyle input[type="text"]:focus,
.formStyle input[type="date"]:focus,
.formStyle input[type="datetime"]:focus,
.formStyle input[type="email"]:focus,
.formStyle input[type="number"]:focus,
.formStyle input[type="search"]:focus,
.formStyle input[type="time"]:focus,
.formStyle input[type="url"]:focus,
.formStyle textarea:focus,
.formStyle select:focus {
  background: #d2d9dd;
}

.formStyle select {
  height: 35px;
}

.formStyle input[type="submit"],
.formStyle input[type="button"] {
  position: relative;
  display: block;
  padding: 5px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 50%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 5px;
}

.formStyle input[type="submit"]:hover,
.formStyle input[type="button"]:hover {
  background: #109177;
}

.formStyle textarea {
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/********************************* Pizzeria *********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #af9a7d;
  --AmirColor: rgb(13, 189, 7);
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;

  overflow-x: hidden;

}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0.3rem 1rem;
}

.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.MyCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mainBlack);
  transition: var(--mainTransition);
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-icon {
  font-size: 1.5rem;
  color: black;
  transition: 1s;
}

.nav-icon-open {
  color: var(--primaryColor);
  font-size: 1.5rem;
  transition: 1s;
  transform: rotate(-90deg);
}

.nav-links {
  display: none;
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}

.nav-disply {
  display: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover,
.MyCart:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

.show-nav {
  display: inline-block;
  height: 13rem;

}

.GiBandit:hover {
  color: var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }

  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }

  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero {
  background-image: url("./images/defaultBcg2.jpg");
  min-height: 60vh;
}
.HeroGray {
  min-height: calc(100vh - 66px);
  background: url("./images/defaultBcgGray.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  width: 100%;
}

.banner h1 {
  font-size: 2.5rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* AboutUS */
.AboutUS {
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  color: var(--mainWhite);
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  width: 70%;
  margin-top: 3rem;
}

.AboutUS h1 {
  font-size: 2.5rem;
}

.AboutUS div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.AboutUS p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  text-align: justify;
  color: var(--primaryColor);
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}

/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

/* end of Title */

/* services */
.services {
  padding: 5rem 0;
}

.services {
  background: var(--darkGrey);
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.services p {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}

.featured-rooms-center {
  /* padding-top: 17rem; */
  padding-top: 1rem;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

/* MonthPizza */
.MonthPizza {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* Slide Show */

.IoMdPizza-span {
  display: flex;
  justify-content: center;
}

.IoMdPizza-span p {
  font-size: 120%;
  color: var(--primaryColor)
}

.IoMdPizza-span p:hover {
  opacity: 1;
  cursor: pointer;
}

.Spiner {
  z-index: 2;
  position: absolute;
  top: 35%;
  font-size: 4rem;
  transition: all 1.5s linear;

}

.SlideShow {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  position: absolute;
  /* left: 38.5%; */
  width: 322px;
  /* height: 228px; */
  /* overflow: hidden; */
  /* border: solid 2px red; */
}

.SlideShow-Down {
  display: flex;
  position: relative;
  /* transition: all 1.5s linear ; */
}

.SlideShow-Down img {
  opacity: 0.6;
  width: 21.1rem;
  /* margin: 3px; */
}

.SlideShow-Down img:hover {
  opacity: 1
}

.P-Link {
  opacity: 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
  /* background-color: var(--mainGrey); */
  transition: var(--mainTransition);
}

.SlideShow-Down:hover .P-Link {
  opacity: 1;
}

/* SlideShow2 */
.SlideShow2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SlideShow2 span {
  background-color: var(--mainGrey);
  border-radius: 2rem;
}

.SlideShow2-LR img {
  opacity: 0.5;
  width: 20rem;
  border-radius: 2rem;
}

.SlideShow2-C img {
  opacity: 1;
  width: 25rem;
  border-radius: 2rem;
}

/* end pf featured rooms */
/* room */

.room {
  transition: var(--mainTransition);
  position: relative;
  overflow: hidden;
}


/* .img-container {
  position: relative;
  overflow: hidden;
} */

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);

}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}

.ShoppingCart {
  position: absolute;
  right: -5rem;
  bottom: 2.87rem;
  background: rgba(0, 255, 34, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem;
  border-top-left-radius: 1rem;
  text-align: center;
  transition: var(--mainTransition);
  opacity: 0;
}

.ShoppingCart:hover {
  background: blue;
}

.ShoppingCart button {
  background: 0%;
  border: none;
  color: var(--mainWhite);
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.ShoppingCart button:focus {
  outline: none;
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .price-top,
.img-container:hover .room-info {
  opacity: 0;
}

.img-container:hover .ShoppingCart {
  opacity: 0.9;
  right: 0;
}

.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}

.alert {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-transform: capitalize;
}

.alert-Green {
  background: rgba(255, 255, 255, 0.788);
  color: green;
  padding: 4rem;
  border: ridge green;
}

.alert-Red {
  background: rgba(255, 255, 255, 0.788);
  color: red;
  padding: 4rem;
  border: ridge red;
  position: relative;
}

.alert-Red article {
  font-size: large;
  font-weight: bold;
  padding-bottom: 2rem;
}

.alert-Question button {
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.alert-Red h4{
  cursor: pointer;
  position: absolute;
  top: 0;
  right:0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: white;
  background-color: red;
}
.alert-Red h4:hover{
  background: #434343;
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* Select box */
.option {
  text-align: center;
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #E5E5E5;
  border-top: #222 solid 1px;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background .4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;


}




/* end of room  */
/* single room*/
.single-room {
  padding: 5rem 0 0 0;
}

.pizza-page-me {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  flex-wrap: wrap;
}

.pizza-page-me-info {

  text-align: left;
}

.pizza-page-me-images {
  flex-wrap: wrap;
  padding-bottom: 10px;

}

.pizza-page-me-images img {
  border-radius: 30px;
  width: 400px;

}

.pizza-page-me-info button {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--primaryColor);
  font-weight: bold;
  font-size: 1rem;
  transition: 0.5s;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.pizza-page-me-info button:hover {
  border-radius: 0.9rem;
  background-color: blue;
  color: var(--mainWhite);
  cursor: pointer;
}

.GiShoppingCart {
  border-radius: 0.5rem;
  font-size: 3rem;
  margin-top: 1rem;

  background-color: blue;
  color: var(--mainWhite);
}

.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.desc,
.info {
  margin: 1rem 0;
}

.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.desc p {
  line-height: 1.5;
}

.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}

.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}

.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}



@media screen and (min-width: 992px) {

  .single-room-images,
  .single-room-info,
  .room-extras,
  .pizza-page-me {
    width: 95vw;
    max-width: 1170px;
  }

  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .info {
    padding-left: 3rem;
  }
}

/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}

.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}

.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

.form-group {
  text-transform: capitalize;
}

.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}

.size-inputs {
  display: flex;
}

.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }

}

@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}

/* end of rooms fitler*/


/* My Cart Page */

.MyCartPage {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}

.MyCartPage img {
  width: 10rem;
  border-radius: 1rem;
}

.Cart-Count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MyCartPage img,
.MyCartPage h3,
.MyCartPage div,
.MyCartPage h5 {
  width: 10rem;
}

.ArrowDown,
.ArrowUp {
  background-color: transparent;
  border: none;
}

.ArrowUp:hover {
  color: green;
  cursor: pointer;
}

.ArrowDown:hover {
  color: red;
  cursor: pointer;
}

.ArrowUp:focus,
.ArrowDown:focus {
  outline: 0;
}

.Trash {
  font-size: 2rem;
  transition: 1s;
}

.Trash:hover {
  color: red;
  font-size: 2.5rem;
  cursor: pointer;
}

.CartTotal {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  justify-items: right;
  justify-self: right;
  padding-right: 10rem;

}

.colorNum {
  display: flex;
}

.CartTotal button {
  background-color: transparent;
  border: solid 0.2rem var(--primaryColor);
  color: var(--primaryColor);
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.CartTotal button:focus {
  outline: none;
}

.CartTotal button:hover {
  background-color: red;
  color: var(--mainWhite);
  border: solid 0.2rem red;

}

.CartTotal img {
  width: 15rem;
  margin-bottom: 2rem;
}

.CartTotal img:hover {
  cursor: pointer;
}

/* upup */
.upup {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  opacity: 0.2;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-radius: 1rem;
}

.upup:hover {
  opacity: 0.8;
}

.upup:focus {
  outline: none;
}

/* TodoItem */

.TodoItem {
  height: 400px;
  background-color: rgb(41, 41, 41);
}

.Todoinput input {
  width: 40%;
  padding: 0.7rem;
  border-radius: 0.65rem;
  box-shadow: none;
  border: none;
  font-weight: bolder;
}

.Todoinput button,
.Clear-List {
  background-color: rgb(237, 100, 230);
  color: whitesmoke;
  margin: 0.3rem;
  padding: 0.7rem;
  border-radius: 0.65rem;
  box-shadow: none;
  border: none;
  font-weight: bolder;
}

.Todoinput input:focus,
.Todoinput button:focus,
.TodoList input:focus,
.TodoList button,
.Clear-List {
  outline: none;
}

.Todoinput button:hover,
.Clear-List:hover {
  cursor: pointer;
  background-color: rgb(243, 29, 232);

}

.FaTrashAlt-TodoList {
  color: red;
  margin: 0 0.5rem;
}

.IoMdDoneAll-TodoList {
  color: rgb(30, 255, 0);
  margin: 0 0.5rem;
}

.FaTrashAlt-TodoList:hover,
.IoMdDoneAll-TodoList:hover {
  cursor: pointer;
}

.TodoList input[type=search] {
  transition: 0.5s ease-in-out;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.65rem;
  width: 40%;
  box-shadow: none;
  border: none;
  background-color: rgb(196, 253, 91);
  font-weight: bolder;
}

.TodoList input[type=search]:disabled {
  transition: 1s ease-in-out;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.65rem;
  width: 30%;
  box-shadow: none;
  border: none;
  background-color: rgb(150, 150, 150);
  font-weight: lighter;
}

.Complete-TodoList {
  text-decoration-line: line-through;
  color: rgb(30, 255, 0);
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* New Weather */
.NewWeatherInput {
  background-color: rgba(77, 77, 77, 0.5);
  width: 35%;
  left: -30rem;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: 1s;
}

.NewWeatherInput h3,
.NewWeatherInput2 h3 {
  color: white
}

.NewWeatherInput2 {
  background-color: rgba(77, 77, 77, 0.9);
  width: 35%;
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: 1s;
}

.NewWeatherInput form,
.NewWeatherInput2 form {
  margin-top: 2rem;
  padding: 1rem;
}


/* @font-face {
  font-family: 'harry_pregular';
  src: url('./components/HarryQuiz/Font/harryp__-webfont.woff2') format('woff2'),
    url('./components/HarryQuiz/Font/harryp__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

.Harry-Font {
  font-family: 'harry_pregular';
  letter-spacing: var(--mainSpacing);
}

.TopHome-Text {
  position: absolute;
  z-index: 2;
  top: 5rem;
  left: 0;
  right: 0;
  color: whitesmoke;
}

.QuizHome {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.QuizHome img {
  width: 100%;
}

.Quiz-img {
  border-radius: 2rem;
  width: 20rem;
}


.QuizStartPage h4 {
  color: black;
  margin-top: 2rem;
  line-height: 0.7rem;
}

.QuizStartPage h4:hover {
  color: rgb(17, 0, 255);
  cursor: pointer;
  text-decoration: underline;
}

.Horiz-Line {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  background-color: #666;
}

.QuizFixNavbar {
  border-radius: 1rem;
  background-color: rgba(163, 163, 163, 0.349);
  top: 12rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: space-evenly;
}

.QuizFixNavbar-Button {
  position: relative;
  top: 3.1rem;
  display: flex;
  width: 3rem;
  height: 3rem;
}

.Result-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 1rem;
}
.Result-line{
  background-color: grey;
  color: whitesmoke;
  margin: auto;
  border-radius: 1rem;
}
/* TodoLIst Fire base */
.Trash-Todo {
  
  font-size: 0.9rem;
  transition: 1s;

}
.Trash-Todo:focus{
  outline: none;
}
.Trash-Todo:hover {
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
}
.OlList{
  list-style-type: upper-roman;
  background-color: indigo;
}
